* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



#header {}

.container {
    width: 90%;
    margin: auto;
}

#header .logo {
    color: black;
}

#header h1 {
    color: black;
    font-family: sans-serif;
    padding: 15px 0;
    display: inline-block;
}

.navbar {
    float: right;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    padding: 25px 15px;
    display: inline-block;
}

.navbar li a:hover {
    color: green;
}

.were {
    margin-top: 200px;
    font-size: 50px;
}


.lorem {
    display: flex;
    width: 40%;
    font-size: 18px;
    margin-left: 800px;
}

.duis {
    width: 300%;
    margin-left: 20px
}

.recent {
    margin-top: 30px;
    font-family: 'Inter';
    color: #1F1F1F;
    font-size: 30px;
}

.aroq {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hr {
    margin-top: 20px;
    margin-bottom: 25px;
}

.pas {
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.barchasi {
    display: flex;
}

.kitob {
    margin-left: 100px;
    margin-top: 50px;
}

.better {
    margin-top: 10px;
    margin-bottom: 20px;
}

.lumin {
    margin-top: 10px;
    margin-bottom: 20px;
}

.nivea {
    margin-top: 700px;
    margin-left: -520px;
}

.suvv {
    margin-top: 10px;
    margin-bottom: 20px;
}

.suv {
    margin-top: 950px;
    margin-left: -1140px;
}

.bonka {
    margin-top: 1400px;
    margin-left: 100px;
}

.good {
    margin-top: 10px;
    margin-bottom: 20px;
}

.dor {
    margin-top: 10px;
    margin-bottom: 20px
}

.dori {
    margin-top: 1750px;
    margin-left: -1135px;
}

.button {
    padding: 10px 5px;
}

button {
    padding: 9px 32px;
    background-color: black;
    color: white;
    margin-top: 64px;
    margin-bottom: 64px;
}

.pasdagi {
    margin-left: 1000px;
    margin-top: -50px;
}

.se {
    margin-left: 980px;
}

.sakson {
    margin-top: 50px;
    font-size: 60px;
    margin-left: 1200px;
}

.pica {
    font-size: 20px;
}

.biryuz {
    font-size: 60px;
    margin-top: -160px;
    margin-left: 950px;
}

.projects {
    font-size: 20px;
}

.tort {
    margin-top: 60px;
    font-size: 60px;
    margin-left: 1200px;
}

.qirq {
    font-size: 20px;
}

.yigirma {
    font-size: 60px;
    margin-left: 950px;
    margin-top: -160px;
}

.team {
    font-size: 20px;
}

.hammas {
    background-color: #F7F6F3;
    padding-top: 50px;
    width: 100%;
    height: 80vh;
}

.uwa {
    margin-bottom: 50px;
    margin-top: 50px;
}

.wiz {
    width: 30%;
}

.years {
    display: flex;
}

.stronger {
    margin-left: 500px;
    color: #1F1F1F;

}

.adipiscing {
    display: flex;
}

.more {
    margin-top: 100px;
    margin-left: -200px;
}

.consectetur {
    width: 30%;
    margin-top: 20px;
}

.enim {
    margin-top: 20px;
    width: 30%;
}

.minim {
    margin-left: -800px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.custom {
    margin-top: 40px;
    margin-bottom: 70px;
}

.asm {
    text-align: center;
    font-size: 32px;
    font-family: 'Libre Baskerville';
}

.carded {
    margin-top: 30px;
}

.now {
    margin-left: 250px;
}

.horse {
    margin-left: 250px;
}

.telegram {
    margin-left: 250px;
}

.nma {
    margin-top: 50px;
}

.nmad {
    margin-left: 260px;
    margin-top: 50px;
}

.nmadi {
    margin-left: 300px;
    margin-top: 50px;
}

.nmadir {
    margin-left: 267px;
    margin-top: 50px;
}

.zxc {
    margin-top: 20px;
    margin-bottom: 40px;
}

.ready {
    display: flex;
    margin-top: 15px;
}

.but {
    margin-top: 15px;
    margin-left: 1000px;
}

.rang {
    background-color: #E0F391;
    padding-top: 50px;
}

.analogue {
    margin-top: 50px;
    font-size: 40px;
    background-color: #1F1F1F;
    padding-bottom: 100px;
    color: white;
}

.font {
    font-size: 20px;
    margin-top: 100px;
}
.zxcv {
    margin-top: 40px;
}
.reserved {
    margin-top: 50px;
    margin-bottom: 100px;
}
.irure {
background-color: #1F1F1F;
padding-bottom: 50px;
color: white;
margin-top: -50px;
padding-top: 60px;
padding-bottom: -50px;
}
.home {
    display: flex;
    margin-left: 1100px;
    margin-top: -500px;
    color: white;
    gap: 100px;
}
.ourwork {
color: white;
display: flex;
margin-top: 30px;
margin-left: 1100px;
}
.behance {
    color: white;
    display: flex;
    margin-top: 30px;
    margin-left: 1100px;
}
.instructions {
    color: white;
    display: flex;
    margin-top: 30px;
    margin-left: 1100px;
}
.password {
    color: white;
    display: flex;
    margin-top: 30px;
    margin-left: 1100px;
}
.touch {
    color: white;
    display: flex;

    margin-top: 30px;
    margin-left: 1100px;
}
.opl {
    margin-left: 80px;
}
.lpo {
    margin-left: 120px;
}


.yui {
    margin-left: 68px;
}
.iuy {
    margin-left: 135px;
}
.asd {
    margin-left: 64px;
}
.dsa {
    margin-left: 120px;
}
.dfg {
    margin-left: 90px;
}
.gfd {
    margin-left: 72px;
}
.bain {
    color: white;
    margin-left: 1100px;
    margin-top: 160px;
}
.nikolai {
    color: #A8A6A0;
}
.Powered {
    color: white;
    margin-left: 1300px;
    margin-top: -16px;
}
.Webflow {
    color: #A8A6A0;
}
